/* es 1 */
.ex-1-square:hover{
    background-color: red;   
}

/* es 2 */
.ex-2-square:active{
    width: 300px;
}

/* es 3 */
.ex-3-square:hover{
    border-radius: 50%;
}

/* es 4 */
.ex-4-square:hover{
    /* opacity: 0; */
    background-color: transparent;
}

/* es 5 */
.ex-5-square:hover{
    width: 80px;
    height: 80px;
}

.ex-5-square:active{
    width: 40px;
    height: 40px;
}

/* es 6 */
.ex-6-img:hover{
    filter: grayscale(100%);
}

/* es 7 */
.ex-7-img:hover{
    filter: grayscale(100%);
    border-radius: 5px;
}

/* es 8 */
.ex-8-img:hover{
    border-radius: 20px;
    filter: sepia(0.5);
    border: 10px solid black;
    /* filter: invert(0.5); */
}

/* es 9 */
.ex-9-img:hover{
    border-radius: 20px;
    filter: sepia(0.5);
    transform: scale(0.5);
}